<footer class="bg-gray23 mw8 center">
  <div class="pa4 flex-l nl3-l nr3-l">
    <aside class="">
      <app-tagcloud></app-tagcloud>
    </aside>
    <aside class="mt4 mt0-l ml3-l">Consectetur cum recusandae quasi voluptatibus eligendi reprehenderit. Et porro ut molestiae tempora ducimus repellendus id odit nulla. Maiores mollitia molestias similique aspernatur hic nisi itaque similique! Et fugit itaque soluta!</aside>
    <aside class="mt4 mt0-l ml3-l">Consectetur cum recusandae quasi voluptatibus eligendi reprehenderit. Et porro ut molestiae tempora ducimus repellendus id odit nulla. Maiores mollitia molestias similique aspernatur hic nisi itaque similique! Et fugit itaque soluta!</aside>
    <aside class="mt4 mt0-l ml3-l">Consectetur cum recusandae quasi voluptatibus eligendi reprehenderit. Et porro ut molestiae tempora ducimus repellendus id odit nulla. Maiores mollitia molestias similique aspernatur hic nisi itaque similique! Et fugit itaque soluta!</aside>
  </div>
  <div class="footer-bottom gray61 f6 tc pv3">
    <strong>צי - יה - רוקחות טבעית </strong> - כל הזכויות שמורות 2017
  </div>
</footer>
